.wrapper__background{
    background: url(../../img/decor/main.jpg) center center no-repeat;
    background-size: cover;
    min-width: initial;
    height: 100%;
    position: relative;
}
.welcome{
    width: 190px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.welcome__logo{
    margin-bottom: 10px;
}
.button__item{
    padding: 15px 20px;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #ec1e79;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border: 3px solid #ec1e79;
    transition: .3s;
}
.button__item:hover{
    background: #ec1e79;
    color: #fff;
}